<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dejgdinqn/image/upload/v1622209752/cinema-4609877_1920_fkh3ty.jpg);">

    <h1>Save your movies </h1>
  </div>
</div>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dejgdinqn/image/upload/v1622217658/popcorn-1085072_1920_ifxi1b.jpg)">
      <%= list.name %>
      <%= link_to 'Show', list %>
    </div>
  <% end %>
</div>


  <div>
  <h1>Lists</h1>
  <h2><%= link_to "➕ Add a list", new_list_path %></h2>
  </div>
</div>
