<div class="navbar-lewagon">
  <div class="navbar-brand p-2" style="color: blue">
  <%= icon('fas', 'film') %>
  </div>
  <div style='text-decoration: none'>
    <div class='justify-content-between'>
    <%= link_to 'My lists', lists_path  %>

    <%= link_to 'New list', new_list_path  %>
    </div>
  </div>
</div>
